language: node_js
node_js:
  - "13"
  - "12"
  - "10"
  - "8"
notifications:
  email: false
cache: yarn
script: yarn test
jobs:
  include:
    - stage: npm release
      script:
        - yarn build
        - cp wdist/sage-client.bundle.js dist/
      node_js: "12"
      deploy:
      - provider: npm
        skip_cleanup: true
        email: tminier01@gmail.com
        api_key: $NPM_KEY
        on:
          tags: true
